* {
    font-family: 'Lato', sans-serif;
  }

.output {
    font: 700 bold;
    font-size: 900%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addanimation {
  animation-duration: 0.5s;
  animation-name: theblink;
  animation: theblink 0.001s infinite alternate;
}

.restart {
  position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes theblink {
  from {
    color: white;
  }

  to {
    color: black;
  }